/* Box sizing reset for more modern CSS layouts */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class of "list-reset" */
.list-reset {
  list-style: none;
  padding: 0;
}

/* A more semantic and accessible alternative to the <i> tag for icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* A better default line-height */
body {
  line-height: 1.5;
}

/* Use the :where() CSS pseudo-class to select elements that match one or more selectors */
:where(pre, code, kbd, samp) {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}

/* Improve readability of selected elements */
:where(abbr[title], abbr[data-tooltip]) {
  text-decoration: dotted underline;
  cursor: help;
}

/* Better font rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

/* Normalize vertical alignment of form elements */
input,
button,
select,
textarea {
  vertical-align: middle;
}

/* Remove default button styles */
button,
[role='button'] {
  background: none;
  border: none;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
